@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* a{
    color: rgb((151, 98, 124);
} */
body{
	font-family: 'GmarketSansMedium';
}
.GmarketSansBold{
	font-family: 'GmarketSansBold';
}
.GmarketSansLight{
	font-family: 'GmarketSansLight';
}
button{
	width: 35%;
	height: 5%;
	color:#fff;
	background: rgba(114,202,191);
	font-size: 16px;
	border:none;
	border-radius: 20px;
	box-shadow: 0 4px 16px rgba(114,202,191,0.3);
	transition:0.3s;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
button:focus {
	outline:0;
}
button:hover{
	background: rgba(114,202,191,0.9);
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(114,202,191,0.6);;
}

.signin_box{
    width:75%;
	height: 60%;
	color:black;
	background: white;
	font-size: 16px;
	border: 2px black;
	border-radius: 20px;
	box-shadow: 0 4px 16px rgba(3, 40, 121, 0.233);
	transition:0.3s;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}

.round_input_box{
    padding: 2px;
	color:black;
	background: white;
	font-size: 15px;
	border: 1px black;
	border-radius: 20px;
	box-shadow: 0 2px 8px rgba(104, 68, 143, 0.131);
}

.btn{
	color:#fff;
	background: rgba(180,118,248);
	font-size: 16px;
	border:none;
	border-radius: 20px;
	box-shadow: 0 4px 16px rgba(27, 26, 28, 0.3);
	transition:0.3s;
}

.purple_bg{
	background: white;
	border: 1px black;
	border-radius: 80px;
	box-shadow: 0 2px 8px rgba(104, 68, 143, 0.124);

}

.purple-color{
	color: rgba(180,118,248);
	/* text-decoration: none; */
}

.button_white{
	width: 45%;
	height: 5%;
	color:#fff;
	background: rgba(114,202,191);
	font-size: 16px;
	border:none;
	border-radius: 20px;
	box-shadow: 0 4px 16px rgba(114,202,191,0.3);
	transition:0.3s;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}

.mbti{
	font-size: 0.8em;
	font-weight: bold;
}
.mbti_discrip{
	font-size: 0.8em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 1em;
	padding-bottom: 0;
}
.mbti_discrip_sm{
	font-size: 0.7em;
	margin-left: 0;
	margin-top: 0.8em;
	margin-bottom: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-top:0;
}
.mbti_discrip_2{
	font-size: 0.7em;
	margin-left: 0;
	margin-top: 0.1em;
	margin-bottom: 0.5em;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-top:0;
}
.logo{
	margin-top: 8%;
	width: 7%;
	height: auto;
}