{% include "partials/head_meta.html" %}
{% include "partials/logo.html" %}


<div class="container p-2 mt-3">
    <h2 class="mt-5 p-3 GmarketSansBold fs-1"> MBTI란? </h2>
    <p class="mt-1 p-1 fs-8" style="color: rgb(170, 170, 170);"> MBTI, 그것이 궁금하다.</p>
</div>

<button class =" button_white" style="position: absolute; top: 78%;" onclick=location.href="https://www.16personalities.com/ko/%EB%AC%B4%EB%A3%8C-%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95-%EA%B2%80%EC%82%AC">간단 검사 하러가기</button>
<button class =" button_white" style="position: absolute; top: 85%;" onclick=location.href="{% url 'my_school_main' %}">돌아가기</button>


</body>
</html>