{% load static %}
{% include "partials/head_meta.html" %}
{% include "partials/logo.html" %}

<!-- {% include "partials/top_nav.html" %} -->

<div class="container p-3 ">
    <h2 class="mt-0 p-1 GmarketSansBold fs-2 mint-color"> 우리 학교 MBTI top 5</h2>
        
    <div class="container">
        <img width="30%" src="{% static '/img/everyone.png' %}">   
    </div>

    <div class="top_5 p-2" >
        <div class="rank_box">
            <div class="row m-1 purple-color">
                <div class="col-4">
                    <p class="fs-6">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-6 GmarketSansBold"></p>
                </div>
                <div class="col-4">
                    <p class="fs-6">0.0%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box mb-5">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>

    </div>
    <hr style="opacity: 0.1;">

    <h2 class="mt-5 p-1 GmarketSansBold fs-2 mint-color"> 우리 과 MBTI top 5</h2>

    <div class="container">
        <img width="30%" src="{% static '/img/everyone.png' %}">   
    </div>

    <div class="top_5 p-2" >
        <div class="rank_box">
            <div class="row m-1 purple-color">
                <div class="col-4">
                    <p class="fs-6">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-6 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-6">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box mb-5">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div style="height: 160px;">
        
        </div>


</div>
<div class="row p-3" style=" width: 100%; position: fixed; bottom: 40px; top: auto;">
    <a class="col-3 " ></a>
    <a class="col-3 btn"  href='{% url 'main' %}'>돌아가기</a>
    <a class="ms-1 col-3 btn"  href='{% url 'main' %}'>공유하기</a>
    <a class="col-3 " ></a>
</div>
<button class="col-4"  style="position: fixed; bottom: 100px; top: auto;" onclick=location.href='{% url 'sign_up' %}'>나도 참여하기</button>


</body>
</html>