{% load static %}
{% include "partials/head_meta.html" %}
{% include "partials/logo.html" %}

<!-- {% include "partials/top_nav.html" %} -->
<div class="container p-3 ">
    <h2 class="mt-0 p-1 GmarketSansBold fs-2 "> 우리 학교 MBTI top 5</h2>

    <div class="top_5 p-2" >
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>
        <div class="rank_box">
            <div class="row m-1 ">
                <div class="col-4">
                    <p class="fs-7">1위</p>
                </div>
                <div class="col-4">
                    <p class="fs-7 GmarketSansBold">INTJ</p>
                </div>
                <div class="col-4">
                    <p class="fs-7">0.8%</p>
                </div>
            </div>
        </div>

    </div>

</div>

<button  style="position: absolute; bottom: 80px; top: auto;" onclick=location.href='{% url 'sign_up' %}'>나도 참여하기</button>


</body>
</html>