{% load static %}
{% include "partials/head_meta.html" %}

<body class="text-center" style=" background-color: rgba(206, 206, 206, 0.288); " >
    <!-- <a class="logo" href="{% url 'index' %}" ><img class="logo" src="{% static '/img/schoolcolor.PNG' %}"></a>     -->
            
<div class="container"  style="position: absolute; top: 6%; bottom:10%;">
    <div class="container justify-content-center purple_bg">
        <div class=" p-3 align-items-center mt-5 p-3">
            <div class="row p-2 mt-3 mb-3 fs-5">
                <h3 class = "GmarketSansBold purple-color">당신의 MBTI는?</h1>
            </div>
            <div class="row mbti_box">
                <div class="col-3 ">
                    <div class="row card" id="1" onclick="card_click(1)">
                        <p class="card-header mbti">ISTJ</p>
                        <p class="mbti_discrip_sm">세상의 </p>
                        <p class="mbti_discrip_2">소금형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"  id="2" onclick="card_click(2)">
                        <p class="card-header mbti" >ISFJ</p>
                        <p class="mbti_discrip_sm">임금 뒤 </p>
                        <p class="mbti_discrip_2">권력형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"  id="3" onclick="card_click(3)">
                        <p class="card-header mbti" >INFJ</p>
                        <p class="mbti_discrip">예언자형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"  id="4" onclick="card_click(4)">
                        <p class="card-header mbti" >INTJ</p>
                        <p class="mbti_discrip">과학자형</p>
                    </div>
                </div>
            </div>
            <div class="row mbti_box">
                <div class="col-3 ">
                    <div class="row card "  id="5" onclick="card_click(5)">
                        <p class="card-header mbti" >ISTP</p>
                        <p class=" mbti_discrip">백과사전형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"  id="6" onclick="card_click(6)">
                        <p class="card-header mbti" >ISFP</p>
                        <p class="mbti_discrip">성인군자형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"   id="7" onclick="card_click(7)">
                        <p class="card-header mbti">INFP</p>
                        <p class="mbti_discrip">잔다르크형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"  id="8" onclick="card_click(8)">
                        <p class="card-header mbti" >INTP</p>
                        <p class="mbti_discrip_sm">아이디어 </p>
                        <p class="mbti_discrip_2">뱅크형</p>
                    </div>
                </div>
            </div>
            <div class="row mbti_box">
                <div class="col-3 ">
                    <div class="row card"  id="9" onclick="card_click(9)">
                        <p class="card-header mbti" >ESTP</p>
                        <p class="mbti_discrip_sm">수완좋은 </p>
                        <p class="mbti_discrip_2">활동가형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card" id="10" onclick="card_click(10)">
                        <p class="card-header mbti"  >ESFP</p>
                        <p class="mbti_discrip_sm">사교적인 </p>
                        <p class="mbti_discrip_2">유형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"  id="11" onclick="card_click(11)">
                        <p class="card-header mbti">ENFP</p>
                        <p class="mbti_discrip">스파크형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"  id="12" onclick="card_click(12)">
                        <p class="card-header mbti" >ENTP</p>
                        <p class="mbti_discrip">발명가형</p>
                    </div>
                </div>
            </div>
            <div class="row mbti_box">
                <div class="col-3 ">
                    <div class="row card"  id="13" onclick="card_click(13)">
                        <p class="card-header mbti" >ESTJ</p>
                        <p class="mbti_discrip">사업가형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"  id="14" onclick="card_click(14)">
                        <p class="card-header mbti" >ESFJ</p>
                        <p class="mbti_discrip">친선도모형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"   id="15" onclick="card_click(15)">
                        <p class="card-header mbti">ENFJ</p>
                        <p class="mbti_discrip">언변능숙형</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row card"  id="16" onclick="card_click(16)">
                        <p class="card-header mbti" >ENTJ</p>
                        <p class="mbti_discrip">지도자형</p>
                    </div>
                </div>
            </div>
            <input class="btn mt-4 mb-2 "  type="submit" onclick="submit_form()" value="결과 보기">    
        </div>

    </div>
    <a class="p-3 fs-6 purple-color" type="submit" href='{% url 'about_mbti' %}' > mbti가 무엇인가요?</a>
</div>
</body>
<script type="text/javascript"> 

    var clicked = 0;


    function card_click(card_num) {
        var card_num = document.getElementById(card_num);
        if (card_num.classList[2] === "clicked") {
            card_num.classList.remove("clicked");
        } else {
            for (var i = 1; i < 17; i++) {
                document.getElementById(i).classList.remove("clicked");
            }

            card_num.classList.add("clicked");
            clicked = card_num;
        }
    }

    function submit_form(){

        location.href='{% url 'result' %}';
    }


</script>

</html>