{% include "partials/head_meta.html" %}
{% include "partials/logo.html" %}

<div class="container">
    <div class="signin_box">
        <div class="row p-2 mb-5">
            <h3>당신의 MBTI는?</h1>
        </div>
        <div class="row">
            <div class="col-2 m-2">
                <div class="row">
                    <p>INTJ</p>
                    <img src="static/img/mbti.png">
                </div>
            </div>
           
        </div>
    </div>
</div>

<button style="position: absolute; top: 80%;" onclick=location.href="{% url 'result' %}">결과 보기</button>

</body>
</html>